@using tubaNWeb.Models.Preview

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "_LayoutPreview";
	ViewData["Title"] = "에피소드";

	int ratingI = 0;
	int ratingJ = 0;
	string str = string.Empty;

	string[,] starCheck = new string[ViewBag.EpisodeList.Count, 10];
	float starRating = 0.5f;
	for (int i = 0; i < starCheck.GetLength(0); i++)
	{
		for (int j = 0; j < starCheck.GetLength(1); j++)
		{
			if (ViewBag.EpisodeList[i].Rating == starRating)
			{
				starCheck[i, j] = "checked";
				break;
			}
			starRating += 0.5f;
		}
		starRating = 0.5f;
	}

	bool isAdmin = false;
	if (Context.Session.GetString("UserId") != null)
	{
		string userId = Context.Session.GetString("UserId");
		if (userId.ToLower().Equals("admin"))
		{
			isAdmin = true;
		}
	}
}



<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/preview/css/starrating.css" type="text/css" />
<style>
	/*	.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		@@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}*/

	.container {
		padding-left: 0;
		width: 1400px !important;
		max-width: none !important;
		overflow: hidden; /*어긋난 정렬 수정*/
	}

	@@media (max-width: 300px) {
		.container {
			width: 300px !important;
		}
	}

	/*카드 이미지 크기조절*/
	.card-img-top {
		height: 15rem;
		/*object-fit: cover;*/
		background-size: cover;
	}

	/*카드 버튼 위로*/
	.card .btn {
		z-index: 2;
		position: relative;
	}

/*	.dropdown :not(.header) {
		margin-top: 50px;
	}*/

	/*별 크기조절*/
	.rating > label:before {
		margin: 5px;
		font-size: 1.25em;
		font-family: FontAwesome;
		display: inline-block;
		content: "\f005";
	}

		.space {
		width: 5px;
		height: auto;
		display: inline-block;
	}
</style>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<div id="id" style="display:none">Swal.fire</div>
@Html.Raw(TempData["EpisodeAlert"])

<br />

<div class="dropdown">
	<button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownBtn">
		@ViewData["SortName"]
	</button>
	<div class="dropdown-menu">
		<a class="dropdown-item" href="@("/PreviewAlbum/Episode?uid=" + ViewBag.titleUID + "&&sort=1")">수정일 (오름차순)</a>
		<a class="dropdown-item" href="@("/PreviewAlbum/Episode?uid=" + ViewBag.titleUID + "&&sort=2")">수정일 (내림차순)</a>
		<a class="dropdown-item" href="@("/PreviewAlbum/Episode?uid=" + ViewBag.titleUID + "&&sort=3")">번호 (오름차순)</a>
		<a class="dropdown-item" href="@("/PreviewAlbum/Episode?uid=" + ViewBag.titleUID + "&&sort=4")">번호 (내림차순)</a>
	</div>

	@if (isAdmin)
	{
		<button type="button" name="ProcessNumber" class="btn btn-md btn-lg col-2" style="float: right; color: white; background-color: lightseagreen;" value=1 onclick="location.href='@Url.Action("AddEpisode", "PreviewAdmin")'">추가</button>
	}
</div>

&nbsp;

<main>



	@*<div class="album py-5 bg-light">*@
	<div class="album @*py-5*@">
		<div class="container">
			@*<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">*@
			<div class="row row-cols-3 g-3">
				@foreach (EpisodeData item in ViewBag.EpisodeList)
				{
					<div class="col">
						<div class="card shadow-sm">
							@*<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>*@
							@*<img class="card-img-top" src="~/SuperLarva.jpg" alt="Card image cap">*@
							<img class="card-img-top" src=@item.ImagePath alt="Card image cap">
							@*<a class="card-block stretched-link text-decoration-none" href="http://192.168.99.44:59683/Review/Comment"></a>*@
							
@*							@if (isAdmin)
							{
								<a class="card-block stretched-link text-decoration-none" href=@("VideoManager/Review/Comment?uid=" + item.Uid)></a>
							}
							else
							{
								<a class="card-block stretched-link text-decoration-none" href=@("VideoManager/Review/Comment?uid=" + item.Uid)></a>
							}*@

							<a class="card-block stretched-link text-decoration-none" href=@Url.Action("Comment","PreviewReview", new {uid = item.Uid} )></a>

							<div class="card-body" href="#">


								<div>
									<fieldset class="rating">
										<input type="radio" id=@str value="5" @starCheck[ratingJ, 9] onclick="return(false);" />
										<label class="full" for=@str title=@str></label>
										@{
											ratingI++;
											str = "star25" + ratingI.ToString();
										}
									<input type="radio" id=@str value="4.5" @starCheck[ratingJ, 8] onclick="return(false);" />
										<label class="half" for=@str title=@str></label>
										@{
											ratingI++;
											str = "star25" + ratingI.ToString();
										}
										<input type="radio" id=@str value="4" @starCheck[ratingJ, 7] onclick="return(false);" />
										<label class="full" for=@str title=@str></label>
										@{
											ratingI++;
											str = "star25" + ratingI.ToString();
										}
										<input type="radio" id=@str value="3.5" @starCheck[ratingJ, 6] onclick="return(false);" />
										<label class="half" for=@str title=@str></label>
										@{
											ratingI++;
											str = "star25" + ratingI.ToString();
										}
										<input type="radio" id=@str value="3" @starCheck[ratingJ, 5] onclick="return(false);" />
										<label class="full" for=@str title=@str></label>
										@{
											ratingI++;
											str = "star25" + ratingI.ToString();
										}
										<input type="radio" id=@str value="2.5" @starCheck[ratingJ, 4] onclick="return(false);" />
										<label class="half" for=@str title=@str></label>
										@{
											ratingI++;
											str = "star25" + ratingI.ToString();
										}
										<input type="radio" id=@str value="2" @starCheck[ratingJ, 3] onclick="return(false);" />
										<label class="full" for=@str title=@str></label>
										@{
											ratingI++;
											str = "star25" + ratingI.ToString();
										}
										<input type="radio" id=@str value="1.5" @starCheck[ratingJ, 2] onclick="return(false);" />
										<label class="half" for=@str title=@str></label>
										@{
											ratingI++;
											str = "star25" + ratingI.ToString();
										}
										<input type="radio" id=@str value="1" @starCheck[ratingJ, 1] onclick="return(false);" />
										<label class="full" for=@str title=@str></label>
										@{
											ratingI++;
											str = "star25" + ratingI.ToString();
										}
										<input type="radio" id=@str value="0.5" @starCheck[ratingJ, 0] onclick="return(false);" />
										<label class="half" for=@str title=@str></label>
									</fieldset>
									&nbsp;
								</div>

								&nbsp;

								<div class="card-text">@("NO." + item.SortNumber)</div>
								<div class="card-text">@item.EpisodeName</div>
								<small class="text-muted">@item.Date</small>

								@if (isAdmin)
								{
									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group">
											<form class="form" method="post" asp-controller="PreviewAdmin" asp-action="AddEpisode">
												<input type="hidden" name="EpisodeName" value="@item.EpisodeName">
												<input type="hidden" name="SortNumber" value=@item.SortNumber>
												<input type="hidden" name="Whatwork1" value=@item.Whatwork1>
												<input type="hidden" name="Whatwork2" value=@item.Whatwork2>
												<input type="hidden" name="Whatwork3" value=@item.Whatwork3>
												<input type="hidden" name="imagePath" value=@item.ImagePath>
												<input type="hidden" name="AnimeticPath" value=@item.AnimeticPath>
												<input type="hidden" name="AnimationPath" value=@item.AnimationPath>
												<input type="hidden" name="FinalPath" value=@item.FinalPath>
												<input type="hidden" name="uid" value=@item.Uid>
												<input type="hidden" name="processNumber" value=2>
												<button type="submit" class="btn btn-sm btn-outline-secondary" onclick="location.href='@Url.Action("AddEpisode","PreviewAdmin")'">수정</button>
											</form>
											@*<button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='/Admin/AddTitle'">수정</button>*@
											@*<button type="button" class="btn btn-sm btn-outline-secondary">삭제</button>*@

											<div class="space">
											</div>

											<form method="post" asp-controller="PreviewAdmin" asp-action="DeleteEpisode" onclick="return confirm('에피소드를 삭제 하시겠습니까?')">
												<input type="hidden" name="episodeUid" value=@item.Uid>
												<button type="submit" class="btn btn-sm btn-outline-secondary">삭제</button>
											</form>
										</div>
									</div>
								}



								@{
									ratingI++;
									str = "star25" + ratingI.ToString();
									ratingJ++;
								}

								@*<div class="d-flex justify-content-between align-items-center">*@
							</div>
						</div>
					</div>
				}








			</div>
		</div>
	</div>
</main>